//out: ../css/styles.css

$base: #263238;
$lite:  #FFF;
$brand: #FF3D00; //FF3D00
$size: 48px;

@import './rest';
@import './keyframes';



#demo {
// Start



.loader {
  width: 64px;
  height: 36px;
  position: relative;
  border-bottom: 5px solid #FFF;
  border-top: 5px solid #FFF;
}
.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF3D00;
  animation: slide 1s infinite ease-in-out alternate;

}
.loader:after {
  top: 16px;
  animation-direction: alternate-reverse;
}
@keyframes slide {  
  0% , 20% {  transform: translateX(41px)  } 
  80% , 100% { transform: translateX(-1px) } 
}









// End


}

// overwrite 

div[data-id="prog-crak-erh"]{
  justify-content: flex-start !important;
}

