//out: ../css/styles.css, compress: true,


$base: #263038;
$lite:  #FFF;
$brand: #FF3D00; //FF3D00
$size: 48px;


*, *:after, *:before {
      box-sizing: border-box;
    }
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar:hover {
  width: 18px;
  background: #0004;
}
::-webkit-scrollbar-track:hover {
  background: #0001; 
}

/* Track */
::-webkit-scrollbar-track {
  background: $base; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $brand; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
body {
  margin: 0;
  background: $base;
  font-family: Arial, Helvetica, sans-serif;
  > img {
    display: none;
  }
  &.pop {
    overflow: hidden;
  }
}


header {
  background : #0d161b;
  padding:10px 20px;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 10;
  nav {
    display: flex;
    align-items: center;
    justify-content: center; 

    .nav-btn {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 110% auto;
      background-position: center;
      border-radius: 50%;
      &.git {
        background-image: url('../images/git.png');
      }
      &.codepen {
        background-image: url('../images/codepen.png');
      }

      & + .nav-btn {
        margin-left: 10px;
      }
    }
  }
}

.brand {
  color: #fff;
  font-size: 32px;
  display: inline-block;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 20px;
    bottom: 7px;
    border: 3px solid $lite;
    border-bottom-color: $brand;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: brandRotation 0.6s linear infinite;
  }
}

@keyframes brandRotation{
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}


#main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
    .section {
      min-width: 200px;
      width: 33.33%;
      height: 360px;
      padding: 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ccc;
      cursor: pointer;
      transition: 0.2s linear;
      &:nth-child(2n + 1){
        background: rgba(#000,0.1);
      }
      &:hover {
          background: rgba(#000,0.3) ;
      }

      @media (max-width: 768px ) {
         width: 50%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }

    }
}



footer {
  background : #0d161b;
  padding:15px;
  text-align: center;
  color: #ccc;
  width: 100%;
  font-size: 12px;
  a {
    font-size: 16px;
    color: #fff;
    transition: 0.2s ease;
    text-decoration: none;
    display: inline-block;
    position: relative;
    &:hover , &:active {
      color: #fff;
      transform: scale(1.15);
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000,0.7);
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  &.in {
    visibility: visible;
    opacity: 1;
  }
}
.btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
    line-height: 20px;
    height: 20px;
    width: 20px;
    font-size: 26px;
    font-weight: 400;
    padding: 0;
    background: #eee;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup {
  position: relative;
  transform: translateY(-20px);
  background: #fff;
  padding: 20px 15px;
  max-width: 600px;
  min-height: 400px;
  margin: 20px auto;
  width: 100%;
  transition: 0.2s ease-in;
  .in & {
    transform: translateY(10px);
  }

}

.showcase {
  background: $base;
  margin-bottom: 15px;
  .section {
    width: 100%;
    height: 300px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.code-area {
  .code-header{
    padding: 5px 10px;
    background: #222;
    color: #fff;
    font-size: 14px;
    position: relative;
  }

  & + & {
    margin-top: 10px;
  }
}
.copy {
  outline: none;
  border: none;
  background: #000;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 3px 8px;
  cursor: pointer;
  user-select: none;
  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    border: 1px solid #fff;
    box-shadow: 2px -2px #000, 3px -3px;
    margin-right: 8px;
    position: relative;
    top: 3px;
  }
}

code {
  background: #000;
  padding: 5px 10px;
  display: block;
  white-space: pre;
  color: #03a9f4;
  min-height: 30px;
  font-size: 14px;
  line-height: 18px;
}

#markup{
  color: #f4a003;
}
#css{
  max-height: 200px;
  overflow: auto;
}



// overwrite 
div[data-id="prog-crak-erh"]{
  justify-content: flex-start !important;
}

