//out: ../css/workshop.css



*,
*:after,
*:before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  background: #263038;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  section {
    min-width: 200px;
    width: 33.33%;
    height: 360px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    cursor: pointer;
    transition: 0.2s linear;
    overflow: hidden;
    &:nth-child(2n + 1) {
      background: rgba(#000, 0.1);
    }
  }
}

// =============================================================

// ==========2=====

.md-1 {
.loader {
    position: relative;
    width: 100px;
    height: 16px;
  }
  
      
}

// ==========3=====

.md-3 {

}

// ==========4=====

.md-4 {

}





.md-8 {
  
}

.md-9 {

}

.md-10 {
}

.md-11 {

}

.md-12 {
}

.md-13 {

}

.md-14 {

}

// 15
.md-15 {

}


// 16
.md-16 {

}



// 17
.md-17 {

}

// 18
.md-18 {

}


// 19
.md-19 {

}

// 20
.md-20 {


}


// 21
.md-21 {

}

  // 22
.md-22 {

}

  // 23
.md-23 {


}

// 24
.md-24 {



}

// 25
.md-25 {


}


// 26
.md-26 {

}


// 27
.md-27 {

}


.md-28 {

}



.md-29 {

}

.md-30 {

}

// 31
.md-31 {

}
// 32
.md-32 {

}


// 33
.md-33 {


}

// 34

.md-34 {

}


// 35
.md-35 {

}

// 36
.md-36 {

}


// 37 
.md-37{

  }
    
// 38 
.md-38{

}

// 39
.md-39{
}



// 42
.md-0{

  .loader{
    position: relative;
    width: 64px;
    height: 64px;
    background-image: 
              linear-gradient(#fff 45px, transparent 0),
              linear-gradient(#fff 20px, transparent 0),
              linear-gradient(#fff 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px , 8px 35px, 0px 60px;
  }

}